#carryon_detail_box {
  margin-top : 3rem;
}

.carryon_detail_box {
  margin: 0 auto;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* Google maps size */
#my_map {
  /* The height is 500 pixels */
  height: 500px;
  /* The width is the width of the web page */
  width: 100%;
}