.carryon_result_box {
  margin: 0 auto;
}

.carryon_result_box:hover {
  cursor: pointer;
  border: 1px solid #007bfe;
  display: block;
  margin: 0 auto;
}

.result-numbers {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* Google maps size */
#my_map {
  height: 500px;
  /* The height is 500 pixels */
  width: 100%;
  /* The width is the width of the web page */
}