<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../static/carryon_details.css" th:href="@{/carryon_details.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <title>CarryOn</title>
</head>

<body>
    <header>
        <!--Top nav bar-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">CarryOn</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Results <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book">My Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">F.A.Q</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">My profile</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <!-- result detail-->
        <div id="carryon_detail_box" class="card mb-3 carryon_detail_box" style="max-width: 70%">
            <!-- Image -->
            <img src="../static/images/office/img1.jpg" th:src="@{'/images/office/img' + ${show_place.id} + '.jpg'}"
                class="card-img-top" alt="...">
            <!-- Google maps -->
            <div id="my_map"></div>
            <!-- Details -->
            <div class="card-body">
                <h5 class="card-title" th:text="${show_place.name}"></h5>
                <h6 class="card-text" th:text="${show_place.address}"></h6>
                <p class="card-text" th:text="${show_place.description}"></p>
                <span class="card-text"
                    th:text="'Open: '+${show_place.timeOpen}+':00-'+${show_place.timeClose}+':00&nbsp;&nbsp;'"></span>
                <span class="card-text" th:text="'Price: '+${show_place.price}+' SEK/day&nbsp;&nbsp;'"></span>
                <span class="card-text" th:text="'Rating: '+${show_place.rating}"></span>
                <p class="card-text"><small class="text-muted" th:text="${show_place.description}"></small></p>
            </div>

            <button><a href ="/book">Add this place</a></button>
            <!--<form action="/book" method="POST">-->
                <!--<button type="submit" id="btn-search" class="btn btn-primary btn-search"  th:value="${show_place.id}" name="id">Book this place</button>-->
            <!--</form>-->


        </div>


    </main>

    <!-- Optional JavaScript -->

    <!-- Google Maps  -->
    <!-- <script>
        function initMap() {
            // The location of Place
            var my_location = {lat: 59.3262416, lng: 17.8416298};
            // The map, centered at Place
            var my_map = new google.maps.Map(
                document.getElementById('my_map'), { zoom: 10, center: my_location });
            // The marker, positioned at Place
            var marker = new google.maps.Marker({ position: my_location, map: my_map });
        }
    </script> -->

    <script th:inline="javascript">
        console.log('detail_haha');
        function initMap() {
            // The location of Place
            /*<![CDATA[*/
            var my_location = { lat: [[${ show_place.lat }]], lng: [[${ show_place.lng }]] };
            /*]]>*/
            // The map, centered at Place
            var my_map = new google.maps.Map(
                document.getElementById('my_map'), { zoom: 13, center: my_location });
            // The marker, positioned at Place
            var marker = new google.maps.Marker({ position: my_location, map: my_map });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr2Uoe6gyip5He5LRwYNPyBV3tHzTFhY0&callback=initMap"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
</body>

</html>