<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="carryon_mybookings.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <title>CarryOn</title>
</head>

<body>
    <header>
        <!--Top nav bar-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">CarryOn</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="carryon_home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="carryon_results.html">Results</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">My Bookings <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">F.A.Q</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <div>
            <h4>Stockholm, Sweden</h4>
        </div>
        <div>
            <h6>2019. 2. 15 Friday</h6>
        </div>
        <!-- result card 1-->
        <div class="card mb-3" style="max-width: 90%">
            <div class="row no-gutters">
                <!-- div 1-->
                <div class="col-md-4" style="max-width: 25%">
                    <img src="images/stockholm.jpg" class="card-img" alt="...">
                </div>
                <!-- div 2-->
                <div class="col-md-8" style="max-width: 55%">
                    <div class="card-body">
                        <h5 class="card-title">Academy AB</h5>
                        <h6 class="card-text">Borgarfjordsgatan 4, 164 55 Kista</h6>
                        <div>
                            <span class="card-text">Opening hours: 0800-19:00</span>
                            <span class="card-text">Price: 50 SEK per day</span>
                        </div>
                        <p class="card-text"><small class="text-muted">We are company situated in Kista. Lorem
                                ipsum...</small></p>
                    </div>
                </div>
                <!-- div 3-->
                <div class="col-md-8" style="max-width: 10%">
                    <!-- Book button -->
                    <button type="button" class="btn btn-primary" style="width: 100px">Change</button><br>
                    <button type="button" class="btn btn-danger" style="width: 100px">Cancel</button>
                </div>
            </div>
        </div>

        <div>
            <h4>Dubai, United Arab Emirates</h4>
        </div>
        <div>
            <h6>2019. 7. 21 Sunday</h6>
        </div>
        <!-- result card 2-->
        <div class="card mb-3" style="max-width: 90%">
            <div class="row no-gutters">
                <!-- div 1-->
                <div class="col-md-4" style="max-width: 25%">
                    <img src="images/stockholm.jpg" class="card-img" alt="...">
                </div>
                <!-- div 2-->
                <div class="col-md-8" style="max-width: 55%">
                    <div class="card-body">
                        <h5 class="card-title">Academy AB</h5>
                        <h6 class="card-text">Borgarfjordsgatan 4, 164 55 Kista</h6>
                        <div>
                            <span class="card-text">Opening hours: 0800-19:00</span>
                            <span class="card-text">Price: 50 SEK per day</span>
                        </div>
                        <p class="card-text"><small class="text-muted">We are company situated in Kista. Lorem
                                ipsum...</small></p>
                    </div>
                </div>
                <!-- div 3-->
                <div class="col-md-8" style="max-width: 10%">
                    <!-- Book button -->
                    <button type="button" class="btn btn-primary" style="width: 100px">Change</button><br>
                    <button type="button" class="btn btn-danger" style="width: 100px">Cancel</button>
                </div>
            </div>
        </div>


    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
</body>

</html>